body {
	background-color:white;
	color: #000;
}

section {
	margin: 10vh 0;
}

h1 {
	text-align: center;
}

.container-fluid {
	padding: 0;
}

header {
	background: url('https://pbs.twimg.com/media/DG4ie1ZWAAAvoL2.jpg');
	background-position: center;
	height: 25vh;
}

header {
	small {
		color: #FDC600;
	}  
}

nav {
	background: white;
	text-align: center;
	.btn-primary {
	color: black;
	background: white;
	border-color: black;
	&:hover,
	&:active,
	&:focus,
	&:active:focus
	 {
		background: #FDC600;
		color: black;
		outline: none;
		}
	span {
		padding: 0 8px;
		}
	}
}

.nav-button-1 {
	display: inline-block;
}

.squad {
	.row{
		div {
			div {
				img{
					&:hover + #number {
						display:block;
					}
				}		
			}
			.player{ 
				img {
				background-color: #000;
				position: relative;
				height: 15vh;
				}
			}
		}
	}
}

#number {
	position: absolute;
	font-size: 25px;
	align-self: center;
	color:#FDC600;
	display:none;
}

#bio, 
#stats, 
#trophy {
	color: black;
	text-align: center;
}

.thumbnail {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.caption {
	text-align: center;
	width: 100%;
}

.modal-content {
	padding: 25px;
	text-align: justify;
}


footer {
	background: black;
	text-align: center;
	color: white;
	.container {
		.row-flex {
			display: flex;
			.left-side {
				align-self: center;
			}
		}
	}
}


@media (max-width:767px){
	header {
		small {
		display: block;
		}
	}
	
	#number {
		display: block;
	}
	
	nav {
		.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
			button {
				margin: 10px 0;
			}
		}
	}

	footer {
		.container { 
			.row-flex {
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}